.fsf_gp_help
{
    padding-bottom: 6px;
    font-size: 110%;
}
.fsf_gp_title
{
    font-size: 150%;
}
.fsf_gp_default
{
    font-size: 130%;
    padding-bottom: 6px;
}
.fsf_gp_item
{
    padding-left: 12px;
    padding-bottom: 3px;
    font-size: 120%;
}