<?xml version="1.0" encoding="utf-8"?>
<style>
  <name>Extension</name>
  <author>joombig</author>
  <description>joombig nivo banner.</description>
  <version>1.0</version>
  <files>
    <public>
    </public>
    <admin></admin>
  </files>
  <config>
    <fieldset name="Basic">
    </fieldset>
  </config>
</style>
